h1 {color: orange; text-align: center; font-family: 'Lemonada', cursive; }
@font-face
{font-family: 'Lemonada', cursive;
src: url(https://fonts.googleapis.com/css?family=Lemonada);}
h2 {color: green; text-align: center; font-family: 'Lemonada', cursive; }
div {background-image: url("https://upload.wikimedia.org/wikipedia/en/7/7e/Smashing_Pumpkins_-_Mellon_Collie_And_The_Infinite_Sadness.jpg"); width: 316px; height: 316px; }
li {font-style: italic; color: black}
a:link {color: purple;text-decoration: none;}
a:hover {color: blue; text-decoration: underline; background: yellow;}
td {font-style: italic;}
table {background:darkolivegreen;}