html {
    background-color: white;
     }
h1 {
    color: green; 
    text-align: center; 
    font-family: 'Lemonada', cursive; 
    background-color: white; 
    margin: 0px; }
@font-face
{font-family: 'Lemonada', cursive; src: url(https://fonts.googleapis.com/css?family=Lemonada);}
h3 {
    background-color: white;  
    margin: 0px; 
    font-weight: normal;
    }
h4 {
    color: green; 
    text-align: center; 
    }
body {
    background-color: darkseagreen; 
    }
footer {
    background-color: white; 
    margin: 0px;
    }
hr {
    background-color: white; 
    margin: 0px; height: 0px; 
    }
table.table1 {
    background-color: lightgrey; 
    color: black; 
    justify-content: center 
    }
textarea {
    font-weight: bold;
    }
input {
    font-weight: bold;
    }
option {
    font-weight: bold;
    }
select {
    font-weight: bold;
    }
td {
    font-weight: bold;
    }
a:link {
    color: purple;
    text-decoration: none;
    }
a:hover {
    font-weight:bold;
    }
a:visited {
    color: grey;
    text-decoration: none;
    }
table.table2 {
    background-color: darkgrey; 
    font-weight: bold; 
    border: 1px; 
    color: black; 
    border-spacing: 10px; 
    width: 30%;}
caption  {
    background-color: darkgrey ;
    margin: 0px; 
    font-weight: bold; 
    font-size: 200%; }
table.table2 {
    width: 170px;
    border-collapse: collapse;
        }
td.drinks {
    text-align: left;
    font-weight: normal;
        }
th.beverages{
    text-decoration: underline;
}
